.profile-pic-r1-c1 {
  grid-column: 1 span 1;
  background-color: #8cc4e2;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-picture {
  width: 75%;
  height: 90%;
  display: block;
  border-radius: 12px;
 
}

@media (max-width: 592px) {
  .profile-pic-r1-c1 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    background-color: #8cc4e2;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1fr;

  }
  
  .profile-picture {
    width: 75%;
    height: 90%;
    display: block;
    border-radius: 12px;
  }
}

@media (min-width: 592px) and (max-width: 800px) {
  .profile-pic-r1-c1 {
    grid-column: 1 / span 1;
    grid-row: 1;
    background-color: #8cc4e2;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .profile-picture {
    width: 75%;
    height: 90%;
    display: block;
    border-radius: 12px;
  }
}





