body{
   background-color: #1E5F88;
   justify-content: center;
}
@font-face {
  font-family: "PoppinsRegular";
  src: local("PoppinsRegular"),
    url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}
.main-container{
  justify-content: center;
}










